*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  outline:none;
  text-decoration:none;
}


.App {
  text-align: center;
}
 


.container {
  background-color: #ffffff;
  border-radius:.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:1rem;
   border:1px solid #bdbcbc;
  padding:1rem;
  width:50%;
  margin:10px auto;
  
 
}

.container input{
  padding:.5rem;
  border-radius:.5rem;
  margin-right:10px;
  border:none;
  background-color:rgba(173, 165, 165, 0.2);
  outline:none;
  transition:.4s;

 
}
.container input:active{
  border:1px solid rgba(104, 18, 225, 0.829);
}
button{
  padding:.5rem;
  border:none;
  border-radius:.5rem;
  font-size:.85rem;
  background-color:rgba(104, 18, 225, 0.829);
  color:#fff;
  
}

